textarea.new-tweet {
  border: none;
  width: 100%;
  background-color: #f4f1ec;
  border-bottom: 4px solid black;
  resize: none;
  font-weight: 700;
}

.container {
  margin-top: 440px;
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

.error-message {
  color: red;
  text-align: center;
  border-color: red;
  border-style: solid;
  border-width: 4px;
  margin: 1em;
}

#tweet-button {
  font-family: "Bungee";
  color: white;
  background-color: #4056a1;
  border: none;
}

.counter {
  float: right;
  font-family: "Bungee";
}

.invalid {
  color: red;
}

.valid {
  color: #545149;
}
