textarea {
  border: none;
  width: 100%;
  background-color: #f4f1ec;
  border-bottom: 4px solid black;
  resize: none;
  font-weight: 700;
}

#tweet-button {
  font-family: "Bungee";
  color: white;
  background-color: #4056a1;
  border: none;
}

.counter {
  float: right;
  font-family: "Bungee";
}

.invalid {
  color: red;
}

.valid {
  color: #545149;
}
