.flex {
  display: flex;
  justify-content: space-between;
}

#tweets-container {
  display: flex;
  flex-direction: column-reverse;
}

.smallpic {
  margin-right: 0.5em;
}

article.tweet {
  margin-top: 1em;
  border-style: solid;
  border-width: 4px;
  border-color: black;
  width: 100%;
  filter: blur(0px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

article footer {
  display: flex;
  justify-content: space-between;
}

article.tweet:hover {
  filter: blur(0px);
  box-shadow: 5px 5px 1px #73877b;
  color: #545149;
}

article.tweet:hover .handle {
  opacity: 0.5;
  font-style: italic;
}

article.tweet .handle {
  margin: 1em;
  color: #305252;
  opacity: 0;
}

article.tweet .user {
  margin: 1em;
}

article.tweet .tweet-body {
  margin: 1em 1em 1em 2em;
}

article.tweet header {
  width: 100%;
}

article.tweet footer {
  border-style: solid;
  border-width: 4px 0px 0px 0px;
  width: 95%;
  border-color: black;
  margin: 0 auto;
}

footer .date {
  margin: 1em;
  font-size: 70%;
}
footer .icons {
  opacity: 0;
  margin: 1em;
  font-size: 70%;
}

article.tweet:hover .icons {
  opacity: 100;
}
