.flex {
  display: flex;
  justify-content: space-between;
}

article.tweet {
  margin-top: 1em;
  border-style: solid;
  border-width: 4px;
  width: 100%;
  filter: blur(1px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

article footer{
  display:flex;
  justify-content: space-between;
}

article.tweet:hover {
  filter: blur(0px);
  box-shadow: 5px 5px 1px black;
  color: #545149;
}

article.tweet:hover .handle {
  opacity: 1;
}

article.tweet .handle {
  /* float: right; */
  margin: 1em;
  color: #545149;
  opacity: 0;
}

article.tweet .user {
  margin: 1em;
}

article.tweet .tweet-body {
  margin: 1em 1em 1em 2em;
}

article.tweet header {
  width: 100%;
}

article.tweet footer {
  border-style: solid;
  border-width: 4px 0px 0px 0px;
  width: 95%;
  margin: 0 auto;
}

footer .date {
  margin: 1em;
  font-size: 70%;
}
footer .icons {
  margin: 1em;
  font-size: 70%;
}
